.category-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.category-list label{
    padding: 5px 0;
    display: flex;
    font-size: 16px;

}
.category-list label input{
    margin-right: 10px;
}

