.range-price{
    position: relative;
    width: 100%;
}
.range-full{
   height: 6px;
   background-color: grey;
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   
}
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: -30px;
  
} 
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
    margin-top: -3px;
    position: relative;
    z-index: 1;
}
input[type="range"]::-webkit-slider-runnable-track{
    width: 100%;
    height: 10px;
    background-color: white;
    border-radius: 5px;
   border:1px solid grey; 
}
.range-active {
    height:10px;
    background-color: red; 
    border-radius: 5px;
    position: absolute;
    top:-45%;
    transform: translateY(-50%);
    z-index: 1;

  }
.btn-range{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap:5px;
    margin:50px 0; 
}
.btn {
    width: 40%; /* اندازه دکمه‌ها */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    padding: 0 10px;
    
}
.icon-range{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding-left:10px;
    margin-left:5px;
    border-left: 2px solid grey;
}
.icon-range svg {
    width: 10px;
    color: black;
}
